article.card-employee 
    
    header.card-employee-header
        
        form.card-employee-header-form(action=`/delete/employee/${employee._id}?_method=DELETE`, method="POST") 
            input.btn--img.btn-delete--img(type="button", value="", onclick="eliminar(this)")
        
        aside.card-employee-header-avatar 
            img.card-employee-header-avatar__img(src=`${employee.avatar}`, alt="Imagen de perfil")
        
        div.card-employee-header-info
            h2.font--bold.font-h2.employee-name= `${employee.name} ${employee.lastname}`
            h3.font--regular--italic.font-h3.employee-job-type.font-color= `${employee.jobType}` 
    
    hr.card-employee-body__line

    section.card-employee-body
        section.card-employee-body-age
            form.card-employee-body-age-form(action=`/update/employee/${employee._id}`, method="get") 
                input.btn--img.btn-update--img(type="submit", value="")
            
            p.card-employee__text.font--medium.font-h3.text-wrap.text-wrap Age
            p.card-employee__text.font--regular.font-text.text-wrap= `${employee.age} years`

            p.card-employee__text.font--medium.font-h3.text-wrap Birthday
            p.card-employee__text.font--regular.font-text.text-wrap.text-wrap= `${employee.birthday.toLocaleDateString()}`
        
            
        
        section.card-employee-body-job
            p.card-employee__text.font--medium.font-h3.text-wrap Job Area
            p.card-employee__text.font--regular.font-text.text-wrap= `${employee.jobArea}`

            p.card-employee__text.font--medium.font-h3.text-wrap Job Descriptor
            p.card-employee__text.font--regular.font-text.text-wrap= `${employee.jobDescriptor}`

            p.card-employee__text.font--medium.font-h3.text-wrap Experience
            p.card-employee__text.font--regular.font-text.text-wrap= `${employee.experience} years`
        
            
        
        section.card-employee-body-address
            p.card-employee__text.font--medium.font-h3.text-wrap State
            p.card-employee__text.font--regular.font-text.text-wrap= `${employee.state}`

            p.card-employee__text.font--medium.font-h3.text-wrap City
            p.card-employee__text.font--regular.font-text.text-wrap= `${employee.city}`

            p.card-employee__text.font--medium.font-h3.text-wrap Address
            p.card-employee__text.font--regular.font-text.text-wrap= `${employee.streetAddress}`
        
            
        
        section.card-employee-body-contact
            
            p.card-employee__text.font--medium.font-h3.text-wrap Phone 
            p.card-employee__text.font--regular.font-text.text-wrap= `+${employee.phoneNumber}`

            p.card-employee__text.font--medium.font-h3.text-wrap Email
            p.card-employee__text.font--regular.font-text.text-wrap= `${employee.email}`
        
    script.
        function eliminar(input){
            let deleteOk = confirm("¿Estas seguro que quiere eliminar el empleado?")
            return deleteOk? input.parentNode.submit() : false
        }