section.cardEmployee 
    //boton eliminar
    article.cardInfoTop
        form.form-delete(action=`/delete/employee/${employee._id}?_method=DELETE`, method="POST") 
            input.button.detele(type="button", value="", onclick="eliminar(this)")
        aside.avatar 
            img(src=`${employee.avatar}`, alt="Imagen de perfil")
        // boton editar
        p#employeeName= `${employee.name} ${employee.lastname}`
        p#employeeJobType= `${employee.jobType}` 
    section.sectionDescription
        article.ageInfoSection
            form.form-update(action=`/update/employee/${employee._id}`, method="get") 
                input.button.update(type="submit", value="")
            p.itemInfoTitle Age
            p.itemInfo= `${employee.age} years`
            p.itemInfoTitle Birthday
            p.itemInfo= `${employee.birthday.toLocaleDateString()}`
        hr.line
        article.jobInfoSection
            p.itemInfoTitle Job Area
            p.itemInfo= `${employee.jobArea}`
            p.itemInfoTitle Job Descriptor
            p.itemInfo= `${employee.jobDescriptor}`
            p.itemInfoTitle Experience
            p.itemInfo= `${employee.experience} years`
        hr.line
        article.addressInfoSection
            p.itemInfoTitle State
            p.itemInfo= `${employee.state}`
            p.itemInfoTitle City
            p.itemInfo= `${employee.city}`
            p.itemInfoTitle Address
            p.itemInfo= `${employee.streetAddress}`
        hr.line
        article.ContactInfoSection
            p.itemInfoTitle Phone 
            p.itemInfo= `+${employee.phoneNumber}`
            p.itemInfoTitle Email
            p.itemInfo= `${employee.email}`
    script.
        function eliminar(input){
            let deleteOk = confirm("¿Estas seguro que quiere eliminar el empleado?")
            return deleteOk? input.parentNode.submit() : false
        }